@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

@layer utilities {
  .animate-in {
    @apply opacity-100 translate-y-0;
  }
}

